#modal-container{
	display:block;
	position:absolute;
	top:100px;
	left:50%;
	transform:translateX(-50%);
	min-width:500px;
	transition:0.2s;
}

#modal-header, #modal-footer{
	text-align:center;
	font-family:arial helvetica sans-serif;
	color:#f11ff1;
	background:linear-gradient(to right, #08bac4, #f1f1f1);
	padding:20px;
	min-height:60px;
	width:100%;
	color:#222222;
}

#modal-content-section{
	padding:20px;
	background:#f1f1f1;
	color:#bbbbbb;
	letter-spacing:;
}

#blogForm label{
	width:30%;
	padding:10px;
	text-align:right;
}

#blogForm input[type="text"]{
	width:70%;
	padding:10x;
	border:1px solid dodgerblue;
	border-radius:5px;
}

#blogForm textarea{
	padding:10px;
	border-radius:5px;
	border:1px solid dodgerblue;
}
