.home-grid-container{
	position:relative;
}
.home-grid-container .left-section, .mid-content-section, .right-section{
	min-height: 490px;
}

.mid-content-section{
	float:left;
	padding:10px;
	border-radius: 2px;
	width:50%;
	background: #f1f1f1
}

.mid-container{
	width:100%;
	overflow:hidden;
}