*{
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  font:16px arial sans verdana;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
}

.btn{
	padding:15px 12px;
	/*float:left;*/
	color:#f1f1f1;
	margin: 8px 4px 8px 0;
	border-radius:4px;
	border:none;
	letter-spacing: 0.5px;
	font-weight:1px;
	font-size:0.9em;
	letter-spacing: 0.4px;
	cursor:pointer;
	font-weight: bold;
}

.btn-block{
	display:block;
	width:100%;
}

.btn-primary{
	background:#33adff;
	transition:0.2s;
}

.btn-primary:hover{
	background : #007acc
}

.btn-success{
	background:#4dff4d;
}

.btn-close{
	float:right;
	color:white;
	background:transparent;
	font-size:20px;
	border:none;
	outline:none;
	color:black;
}

.error-msg{
	color:#bb0000;
}

.success-msg{
	color:green;
}
